

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" class="grande">
      <h3 class="center">MENÚ</h3><br>
      <mat-list role="list">
        <mat-list-item role="listitem"><a [routerLink]="['/popular']" routerLinkActive="router-link-active"> <mat-icon class="margin">grade</mat-icon> Actores</a> </mat-list-item>
        <mat-list-item role="listitem"><a [routerLink]="['/person']" routerLinkActive="router-link-active"><mat-icon class="margin">theaters</mat-icon>Películas</a></mat-list-item>
        <mat-list-item role="listitem"><a [routerLink]="['/popular']" routerLinkActive="router-link-active"><mat-icon class="margin">settings</mat-icon>Configuración</a></mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><mat-icon class="margin">logout</mat-icon>Salir</mat-list-item>
      </mat-list>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>The Movie Data Base</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
        
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>